body {
    background-color: #363536;
    font-family: 'Sarala', sans-serif;
}

.pozadina {
    background-repeat: no-repeat;
    background-size: cover;
}

.btnNav{
    background-color: gray;
    border-color: white;
    width: 60%
}

.btnNav:hover{
    background-color: white;
    color: black;
    border-color: black;
}

.slika {
    margin-left: 40px;
    height: 400px;
    width: 225px;
    border-radius: 10px;
    border: 2px solid black;
}

.naslov {
    word-wrap: break-word;
    color: white;
    font-size: xx-large;
    display: block;


}

.godinaIzdanja {
    color: white;
    font-size: x-large;
}

.ocena {
    font-size: x-large;
    color: white;
}

.imdb {
    height: 30px;
    width: 52px;
    margin-left: 10px;
}

.film {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 80px;
    grid-gap: 20px;
    grid-template-rows: 400px;

}

.opis {
    display: grid;
    grid-template-rows: 1fr auto;
}

.opis2 {
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: left;
}

#glumi {
    align-self: end;
}

#reditelj {
    align-self: start;
}



.grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
}

.glumci {
    padding: 50px;
    display: grid;
    place-items: center start;
}

.kategorija {
    padding: 50px;
    display: grid;
    place-items: center start;
}

h5 {
    text-align: left;
}

#glumcihover {
    font-style: italic;
    font-size: 16pt;
    color: white;
    text-align: center;
}

#glumcihover:hover {
    color: #2c72f3;
    cursor: pointer;
}

@media (max-width: 1500px) {
    .film {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 900px) {
    .film {
        grid-template-columns: 1fr;
    }
}